$accent: hsla(210,100%,50%,100%);
$accentl1: hsla(210,100%,55%,100%);
$accentl2: hsla(210,100%,60%,100%);
$accents1: hsla(210,100%,45%,100%);
$accents2: hsla(210,100%,40%,100%);
$accents3: hsla(210,100%,35%,100%);
$accents4: hsla(210,100%,30%,100%);
$accents5: hsla(210,100%,25%,100%);
$accents6: hsla(210,100%,20%,100%);
$primary: hsl(200, 5%, 8%);
$primaryl1: hsl(200, 5%, 14%);
$primaryl2: hsl(200, 5%, 18%);
$primaryl3: hsl(200, 5%, 22%);
$primaryl4: hsl(200, 5%, 26%);
$primaryl5: hsl(200, 5%, 30%);
$primaryl6: hsl(200, 5%, 34%);
$primaryl7: hsl(200, 5%, 38%);
$primaryl8: hsl(200, 5%, 42%);
$primaryl9: hsl(200, 5%, 55%);
$primaryl10: hsl(200, 5%, 65%);
$secondary: hsl(0, 0%, 100%);
$secondarys1: hsl(0, 0%, 90%);
$secondarys2: hsl(0, 0%, 80%);
$secondarys3: hsl(0, 0%, 75%);
$secondarys4: hsl(0, 0%, 63%);
$secondarys5: hsl(0, 0%, 50%);
$secondarys6: hsl(0, 0%, 35%);
$secondarys7: hsl(0, 0%, 22%);
$secondarys8: hsl(0, 0%, 18%);
$secondarys9: hsl(0, 0%, 15%);
$secondarys10: hsl(0, 0%, 12%);