@font-face {
    font-family: 'Fira Code';
    src: url('./assets/Fira Code.ttf');
}

:root {
    /* variables */

    --color-bg: black;
    --color-accent: #6D9B14;
    --color-highlight: white;
    --color-shaded: rgba(255, 255, 255, 0.5);
    --color-critical: #FF5656;
    --app-border-radius: 0.5rem;

    /*  */

    font-family: 'Fira Code';
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    color: var(--color-highlight);
    background-color: var(--color-bg);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

* {
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    overflow: hidden;
}

#app {
    /* max-width: 1280px; */
    margin: 0 auto;
    text-align: center;

    width: 100%;
    height: 100vh;
    /* overflow: hidden; */
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}


/* why do we have it here again? isn't it svelte default styles or whatever?

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}
a:hover {
    color: #535bf2;
}

.card {
    padding: 2em;
}

button {
    border-radius: var(--app-border-radius);
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color: var(--color-secondary);
    cursor: pointer;
    transition: border-color 0.25s;
}
button:hover:enabled {
    border-color: #646cff;
}
button:focus,
button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: rgb(16, 16, 16);
    color: rgb(42, 42, 42);
    cursor: default;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
*/